.preview {
  margin-top: 20px;

  h4 {
    margin: 10px 0;
  }

  .displayBlock {
    min-height: 46px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .logs {
    max-height: 94px;
    overflow: auto;
  }
}

.options {
  padding: 5px 0;

  label {
    cursor: pointer;
    user-select: none;
  }
}
